<p id="notice"><%= notice %></p>

<p>
  <strong>Travelamount:</strong>
  <%= @travel_amount.travelamount %>
</p>

<%= link_to 'Edit', edit_travel_amount_path(@travel_amount) %> |
<%= link_to 'Back', travel_amounts_path %>
