<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <h1><%= @user.name %></h1>
      <table class="table table-hover">
        <tbody>
          <tr>
            <th>ID:</th>
            <td><%= @user.id %></td>
          </tr>
          <tr>
            <th>Username:</th>
            <td><%= @user.name %></td>
          </tr>
          <tr>
            <th>E-Mail:</th>
            <td><%= @user.email %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
