<p id="notice"><%= notice %></p>

<p>
  <strong>City:</strong>
  <%= @cities_to_work.city %>
</p>

<%= link_to 'Edit', edit_cities_to_work_path(@cities_to_work) %> |
<%= link_to 'Back', cities_to_works_path %>
